body {
    background:#fffffa;
    min-height: 200vh; 
    margin:0;
}

#title {
    text-align: center;
    font-size: 130px;
    color :#000103;
    font-family: 'Shizuru', cursive;
    text-decoration: none;
}
.title2 {
    text-align: center;
    color :#000103;
    font-family: 'Shizuru', cursive;
    text-decoration: none;
}
#nav_bar {
     text-align: center;
     background-color: #93C48B;
     margin:0%;
     position:sticky;
     bottom: 50;
     right: 50;
     top: 0px;
     padding-top: 0.5%;
     padding-bottom: 0.5%;
     border-bottom: 2px solid #565254;
}
.nav_button {
    margin-left: 50px;
    text-align: center;
    text-decoration:none ;
    font-family: 'Caveat', cursive;
    font-size: 20px;
    color: #565254;
    display: inline-block;
   border-radius: 100px;
   border: 2px solid #565254;
   padding: 15px; 
   width: 60px;
   height: 30px;
   transition-duration: 0.4s;
}
.nav_button:hover  {
    background-color: #fffffa;
    width: 100px;

}

#user_icon {
    font-size: 30px;
    padding-left: 0px;
    color: #565254;
    transition-duration: 0.4s;
    float:right;
    margin-right:100px;
    padding-top:15px;

}
#user_icon:hover{
    color: #fffffa;
}
