#body {

    min-height: 100vh;
    margin:0;
}

#title {
    text-align: center;
    font-size: 130px;
    color :#000103;
    font-family: 'Shizuru', cursive;
    text-decoration: none;
}

.title2 {
    color :#000103;
    font-family: 'Shizuru', cursive;
    text-decoration: none;
}

.title3 {
    float:left;
    text-decoration: none;
    font-family: 'Shizuru', cursive;
    font-size:50px;
    color :#000103;
    text-align: center;
}

.nav_sneep{
    padding-bottom: 0px;
    padding-top:0px;
    text-align: center;
    vertical-align: middle;
    margin-top: -2px;
    margin-left:50px;

}

.title3:hover{
    color: #fffffa;
}

#nav_bar {
     text-align: center;
     background-color: #93C48B;
     margin:0%;
     position:sticky;
     padding-top: 0.5%;
     padding-bottom: 0.7%;
     border-bottom: 2px solid #565254;
     top: -1px;
}
.nav_button {
    margin-left: 50px;

    text-align: center;
    text-decoration:none ;
    font-family: 'Caveat', cursive;
    font-size: 23px;
    color: #565254;
    display: inline-block;
   border-radius: 100px;
   border: 2px solid #565254;
   padding: 15px;
   width: 150px;
   height: 30px;
   transition-duration: 0.4s;
   font-weight: bold;
}

.nav_button:hover  {
    background-color: #fffffa;
    width: 200px;
}

#user_icon1 {
  font-size: 25px;
  padding-left: 0px;
  color: #fffffa;
  transition-duration: 0.25s;
  float:right;
  margin-right:90px;
  padding-top:15px;

}
.nav_button:hover #user_icon1 {
  font-size: 10px;
  color: #000103;
}
#user_icon {
    font-size: 30px;
    padding-left: 0px;
    color: #565254;
    transition-duration: 0.25s;
    float:right;
    margin-right:90px;
    padding-top:15px;
    position:relative;

}
#user_icon:hover {
    color: #fffffa;
}
.dropbtn:hover #user_icon {
  color: #fffffa;

}

.dropbtn {
    background-color: inherit;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 12px;
    margin-right: 45px;
  }

  .dropdown-content a {
    color: #565254;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 15px;
  }

  .dropdown-content a:hover {
    background-color: #565254;
    color: #fffffa;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a:hover #user_icon{
    color: #fffffa
  }
  .dropdown:hover #user_icon {
    color: #fffffa
  }



ol li {
 padding-top: 12px;
 font-size: 15px;
 color: #fffffa;
 font-style: normal;
 text-align: left;
}

.Jordan1disc {
  max-width: 400px;
  font-size:20px;
  float: left;
  margin: 50px;

}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
}

.container {
  border: 0px solid #CCCCC8;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  text-align: middle;
  padding: 10px;
  overflow-y: auto;
  font-size: 20px;
  height: 100%;
  margin-top: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

.jordan1image{
  margin:20px;
 max-width:100px;
 height:auto;
 padding:100px;
}

.jordannames{
  text-decoration: none;
  color: #000103;
}
.descriptionr{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 15px;
  grid-auto-rows:400px;
  overflow-x: hidden;

}

.wrapper > div  {
  font-size: 15px;
  padding: 10px;
  background: #fffffa;
  border: solid 1px black;
  border-radius: 10px;
  margin: 50px;
  text-decoration: none;
  text-align: center;
  color:#93c48b;
}

.wrapper > div:nth-child(even){
  background: #fffffa;

}
.deco{
text-decoration: none;
color:#172a3a;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
