<!doctype html>
<html>
    <head>
        <title>SNeep</title>
        <link rel="icon" type ="image/x-icon" href=/static/images/SN.png>
        <link rel="stylesheet"  href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Shizuru&family=Caveat&family=Patrick+Hand:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/12ad647e43.js" crossorigin="anonymous"></script>

    </head>

<body id="body">
    
   

    <nav id="nav_bar">
     <h2 class="nav_sneep"><a class="title3" href="{{url_for('home')}}">SNeep</a></h2>

     <div class="searchbar2"> <!-- search bar -->
        <form autocomplete="off" id="user_input" action="/search" method="post">
            <input autocomplete="false" type="text" id="search2" class="fa-solid fa-magnifying-glass" title="3 - 80 Characters" name="filter" input pattern=".{3,80}" required > 
        </form>
        <i id="searchicon" class="fa-solid fa-magnifying-glass"></i>
    </div>
    
    
</a id="nav">
     <a class="nav_button" href="{{url_for('Jordans')}}">Jordans</a>
     <a class="nav_button" href="{{url_for('Adidas')}}">Adidas</a>
     <a class="nav_button" href="{{url_for('Nike')}}">Nike</a>
     <a class="nav_button" href="{{url_for('Others')}}">Others</a>
</a>
     
     {% if not current_user.is_authenticated %}
     <div class="dropdown" style="float:right;">
        <button class="dropbtn"><i class="fa-solid fa-user-astronaut" id = "user_icon"></button></i>
        <div class="dropdown-content">
        {% endif %}
        {% if not current_user.is_authenticated %}
        <b><a href="/login">Login</a></b>
        <b><a href="/register">Register</a></b>
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="dropdown" style="float:right;">
            <button class="dropbtn"><i class="fa-solid fa-user-astronaut" id = "user_icon1"></button></i>
            <div class="dropdown-content">
        <a href="/logout">Logout</a>
      
        {% endif %}
        </div>
        </div>
     </nav>
     {% block content %}
     {% endblock %}

    <footer class="footer">
        <div id="footer_headingspos">
            <a class="footer_headings"  href="{{url_for('Jordans')}}">Jordans</a>
            <a class="footer_headings"  href="{{url_for('Adidas')}}">Adidas</a>
            <a class="footer_headings"  href="{{url_for('Nike')}}">Nike</a>
            <a class="footer_headings"  href="{{url_for('Others')}}">Others</a>
            <a class="footer_headings"  href="{{url_for('about')}}">About us</a>
        </div>
        <ol id="footer_jordan">
            <li > <a class ="footer_content"href="{{url_for('Jordan1')}}"> Jordan 1 </a></li>
            <li > <a class ="footer_content"href="{{url_for('Jordan3')}}"> Jordan 3 </a></li>
            <li > <a class ="footer_content"href="{{url_for('Jordan4')}}">Jordan 4</a></li>
            <li > <a class ="footer_content"href="{{url_for('Jordan11')}}">Jordan 11</a></li>
        </ol>
        <ol id="footer_adida">
            <li > <a class ="footer_content" href="{{url_for('Yeezy350')}}">Yeezy 350</a></li>
            <li > <a class ="footer_content"href="{{url_for('Yeezy500')}}"> Yeezy 500</a></li>
            <li > <a class ="footer_content" href="{{url_for('Yeezy700')}}">Yeezy 700</a></li>
            <li > <a class ="footer_content"href="{{url_for('YeezySlides')}}"> Yeezy Slides</a></li>
        </ol>
        <ol id="footer_nike">
            <li > <a class ="footer_content"href="{{url_for('Nikesb')}}"> Nike Dunks</a></li>
            <li > <a class ="footer_content"href="{{url_for('Af1')}}"> Air Force one</a></li>
            <li > <a class ="footer_content"href="{{url_for('AirMax97')}}">Airmax 97</a></li>
            <li > <a class ="footer_content"href="{{url_for('Blazer')}}">Nike Blazers</a></li>
        </ol>
        <ol id="footer_others">
            <li > <a class ="footer_content"href="{{url_for('NB550')}}"> New Balance 550</a></li>
            <li > <a class ="footer_content"href="{{url_for('NB990')}}">New Balance 990</a></li>
            <li > <a class ="footer_content"href="{{url_for('NB993')}}">New Balance 993</a></li>
            <li > <a class ="footer_content"href="{{url_for('Converse')}}">Chuck Taylor Converses</a></li>
            


        </ol>
        <ol id="footer_about">

        </ol>
    </footer>
</body> 

</html>