<!doctype html>
<html>
    <head>
        <title>Sneep</title>
        <link rel="stylesheet"  href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Shizuru&family=Caveat:wght@700&display=swap" rel="stylesheet">

    </head>
</html>
<body>
   

    <nav id="nav_bar">
     <a class="nav_button" href="{{url_for('home')}}">Sneep</a>
     <a class="nav_button" href="{{url_for('Jordans')}}">Jordans</a>
     <a class="nav_button" href="{{url_for('Adidas')}}">Adidas</a>
     <a class="nav_button" href="{{url_for('Nike')}}">Nike</a>
     <a class="nav_button" href="{{url_for('Others')}}">Others</a>
     <a class="nav_button" href="{{url_for('login')}}">Login</a>
     <a class="nav_button" href="{{url_for('register')}}">Register</a>
     <a class="nav_button" href="{{url_for('logout')}}">Logout</a>
    </nav>
    {%block content%} {%endblock%}

    <footer><h4>footer</h4></footer>
</body>
