<!doctype html>
<html>
    <head>
        <title>SNeep</title>
        <link rel="icon" type ="image/x-icon" href=/static/images/SN.png>
        <link rel="stylesheet"  href="/static/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Shizuru&family=Caveat&family=Patrick+Hand:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src="https://kit.fontawesome.com/12ad647e43.js" crossorigin="anonymous"></script>

    </head>

<body id="body">



    <nav id="nav_bar">
     <h2 class="nav_sneep"><a class="title3" href="{{url_for('home')}}">SNeep</a></h2>


</a id="nav">
    {% if current_user.is_authenticated %}
    <a class="nav_button" href="{{url_for('user_shoes')}}">My Shoes</a>
    {% endif %}
    <a class="nav_button" href="{{url_for('brand',id=1)}}">Jordans</a>
    <a class="nav_button" href="{{url_for('brand',id=2)}}">Adidas</a>
    <a class="nav_button" href="{{url_for('brand',id=3)}}">Nike</a>
    <a class="nav_button" href="{{url_for('brand',id=4)}}">Others</a>
</a>

     {% if not current_user.is_authenticated %}
     <div class="dropdown" style="float:right;">
        <button class="dropbtn"><i class="fa-solid fa-user-astronaut" id = "user_icon"></button></i>
        <div class="dropdown-content">
        {% endif %}
        {% if not current_user.is_authenticated %}
        <b><a href="/login">Login</a></b>
        <b><a href="/register">Register</a></b>
        {% endif %}
        {% if current_user.is_authenticated %}
        <div class="dropdown" style="float:right;">
            <button class="dropbtn"><i class="fa-solid fa-user-astronaut" id = "user_icon1"></button></i>
            <div class="dropdown-content">
        <a href="/logout">Logout</a>

        {% endif %}
        </div>
        </div>
     </nav>
     {% block content %}
     {% endblock %}

</body>

</html>
