{% extends "layout.html" %}
{%block content%}

<body>
<h1>{{title}}</h1>
<p>browse shoes to add to your shoes</p>


<div class="wrapper">
    {% for shoe in results.shoes%}
    <div>
        <img src="/{{shoe.image}}" alt="SHOE" height="100px" width="autocomplete">
        <p><b> {{shoe.name}}</b></p>
        <p class="1">${{shoe.price}}</p>
        <button onclick="location.href='{{ url_for('delete', id=shoe.id)}}'" type="button"><h3> Remove from my shoes </h3></button>
    </div>
    {% endfor %}
</body>


{% endblock %}
