{% extends "layout.html" %}
{%block content%}

<body>
<h1>{{title}}</h1>
<div class="wrapper">
    {% for shoe in results.shoes%}
    <div>
        <img src="/{{shoe.image}}" alt="SHOE" height="100px" width="autocomplete">
        <p><b> {{shoe.name}}</b></p>
        <p class="1">${{shoe.price}}</p>
        {# if user is not logged in tell them to login before they can add#}
                {% if current_user.is_anonymous %}
                <p>please login to add to these your shoes</p>
            {# if shoes are in my shoes show remove#}
              {% elif shoe in user.shoes %}
                  <p>Added to my shoes</p>
              {# if shoes aren't in my shoes already show add button#}
              {% else %}
                <div>
                  <button onclick="location.href=
                  '{{ url_for('add', id=shoe.id)}}'" type="button">
                   <h3> Add to my shoes </h3></button>
                </div>
              {% endif %}
    </div>
    {% endfor %}
</body>


{% endblock %}
